
.box{
    height: 300px;
    width: 450px;
    margin-top: 30px;
}
 .box-1{
     background-color: aqua;
     overflow: auto;
 }
 .box-2{
     background-color: beige;
     overflow: hidden;
 }
 .box-3{
     background-color: cadetblue;
     overflow: scroll;
 }
 .box-4{
     background-color: darkcyan;
     overflow: hidden;
 }
.box-5{
    background-color: lightgray;
    overflow: scroll;
}
.flex{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
 }
  


 .square{
    /* height: 200px; */
    width: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: hidden;
}
 .square-1{
     background-color: aqua;
     /* overflow: auto; */
     /* align-self: flex-start; */
 }
 .square-2{
     background-color: beige;
     overflow: hidden;
     /* align-self: center; */
 }
 .square-3{
     background-color: cadetblue;
     /* overflow: scroll; */
     /* align-self: flex-end; */
 }
 .square-4{
     background-color: lightsteelblue;
     overflow: hidden;
     /* align-self: center; */
 }
 .square-5{
    background-color: lightgray;
    /* overflow: scroll; */
    /* align-self: flex-start; */
}
 .flex-allignment{
    display: flex;
    background-color: yellow;
    justify-content: center;
    /* justify-content: space-around; */
    /* align-items: center; */
    /* flex-direction: row-reverse; */
    align-items: stretch;
    height: 600px;
}
 .square{
     display: flex;
     align-items: center;
     justify-content: center;
}
 .square-3{
     flex-grow: 1;
 } 